{% extends "base.html.twig" %}

{% block body %}

	{% include 'client/_navbar.html.twig' %}

	<!-- Header -->
	<header class="masthead">
		<div class="container">
			<div class="intro-text">
				<div class="intro-lead-in">Welcome To Our Studio!</div>
				<div class="intro-heading text-uppercase">It's Nice To Meet You</div>
				<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
			</div>
		</div>
	</header>

	{% include 'client/_services.html.twig' %}

	{% include 'client/_portfolio.html.twig' %}

	{% include 'client/_about.html.twig' %}

	{% include 'client/_team.html.twig' %}

	{% include 'client/_references.html.twig' %}

	{% include 'client/_contact.html.twig' %}

	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; Your Website 2019</span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li class="list-inline-item">
							<a href="#">Privacy Policy</a>
						</li>
						<li class="list-inline-item">
							<a href="#">Terms of Use</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- Portfolio Modals -->

	{% for i in 1..5 %}
		<!-- Modal {{ i }} -->
		<div class="portfolio-modal modal fade" id="portfolioModal{{ i }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 mx-auto">
								<div
									class="modal-body">
									<!-- Project Details Go Here -->
									<h2 class="text-uppercase">Project Name</h2>
									<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
									<img class="img-fluid d-block mx-auto" src="{{ asset('build/images/portfolio/0') ~ i ~ '-full.jpg' }}" alt="">
									<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
									<ul class="list-inline">
										<li>Date: January 2017</li>
										<li>Client: Threads</li>
										<li>Category: Illustration</li>
									</ul>
									<button class="btn btn-primary" data-dismiss="modal" type="button">
										<i class="fas fa-times"></i>
										Close Project</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock body %}
